this["EJS"] = this["EJS"] || {};

this["EJS"]["checkout"] = function(obj) {
obj || (obj = {});
var __t, __p = '', __e = _.escape;
with (obj) {
__p += '<li data-team-id="' +
((__t = ( checkin.team.id )) == null ? '' : __t) +
'" data-checkpoint-id="' +
((__t = ( checkpoint.checkpointId )) == null ? '' : __t) +
'">\n  <span class="team-name">' +
((__t = ( checkin.team.name )) == null ? '' : __t) +
'</span>\n  <a class="check-out-link">Unlock</a>\n  <a class="destroy-checkin">DESTROY</a>\n</li>\n';

}
return __p
};