<table class="table table-bordered" id="allCheckins">
  <thead>
    <tr>
      <th>Id</th>
      <th>Team</th>
      <th>In</th>
      <th>Out</th>
    </tr>
  </thead>

<tbody>
    <% checkins.each do |checkin| %>
    <tr>
      <td><%= checkin[:team][:id] %></td>
      <td><%= checkin[:team][:name] %></td>
      <td>
        <%= checkin[:times].first.nil? ? "--" : Time.at(checkin[:times].first).strftime("%I:%M:%S") %>
      </td>

      <td>
        <%= checkin[:times].last.nil? ? "--" : Time.at(checkin[:times].last).strftime("%I:%M:%S") %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

  <script>
      $(document).ready(function() {
          $('#allCheckins').DataTable({bFilter: false, bInfo: false, bPaginate: false});
      } );   
  </script>
