<div class='sign-up'>
  <span class='teams-remaining'><%= "#{remaining_team_count} teams remaining" %></span>
  <form id="checkin" type="post">
    <h2>Check-In</h2>
    <input type="tel" name="team-number" placeholder="Enter a team number" class='sign-up-input'>
    <input name="submit" type="submit" value="Mush!" class="button submit-button">
  </form>
</div>

<ul id="checkins"></ul>
