<h1>Leaderboard : Route <%= route.id %></h1>

<table>
  <tr>
    <th>Team Name</th>
    <% route.checkpoints.each do |checkpoint| %>
      <th><%= checkpoint.name %></th>
    <% end %>
  </tr>

  <% route.teams.sort.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <% route.checkpoints.each do |checkpoint| %>
        <td><%= team_checkpoint_status(checkpoint, team, true) %></td>
      <% end %>
    </tr>
  <% end %>

</table>
</div>
