<li data-team-id="<%= checkin.team.id %>" data-checkpoint-id="<%= checkpoint.checkpointId %>">
  <span class="team-name"><%= checkin.team.name %></span>
  <a class="check-out-link">Unlock</a>
  <a class="destroy-checkin">DESTROY</a>
</li>
